[Unit]
Description=Consul Agent
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ consul_config_file }}

[Service]
User=consul
Group=consul
ExecStart=/usr/local/bin/consul agent -server -config-dir={{ consul_config_dir }} -config-file={{ consul_config_file }} -retry-join='provider=aws tag_key=Name tag_value=consul_server'
ExecReload=/usr/local/bin/consul reload
StartLimitIntervalSec=10
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target